* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d3dbdb;
    height: 100vh;
}

.macro {
    height: 90vh;
    width: 1200px;
}

.contacts {
    background-color: white;
    height: 90vh;
}

.chatbox {
    height: 90vh;
}

img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

p {
    display: inline-block;
}

.profile-icons {
    vertical-align: middle;
    line-height: 3.5rem;
}

.notifications {
    background-color: aqua;
}

.fa-bell-slash {
    padding-left: 1.1rem;
    padding-top: 1.2rem;
}

.bell {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
}

.current-chat {
    background-color: white;
}

.messages {
    height: 75vh;
    background-image: url(../img/mine.jpg)
}