body {
    background-color: #d3dbdb;
    height: 100vh;
}

.macro {
    height: 90vh;
    width: 1200px;
}

.contacts {
    background-color: white;
    height: 90vh;
}

.chat {
    background-color: #e4dcd5;
    height: 90vh;
}

img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

p {
    display: inline-block;
}

.profile-icons {
    vertical-align: middle;
    line-height: 3.5rem;
}