* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d3dbdb;
    height: 100vh;
}

.macro {
    height: 90vh;
    width: 1200px;
}

.contacts {
    background-color: white;
    height: 90vh;
}

.chatbox {
    height: 90vh;
}

img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    padding: 0.3rem;
    vertical-align: middle;
}

p {
    display: inline-block;
    vertical-align: middle;
}

.icon {
    vertical-align: middle;
    line-height: 3.5rem;
    padding: 0 0.5rem;
}

.notifications {
    background-color: aqua;
}

.fa-bell-slash {
    padding-left: 0.9rem;
    padding-top: 0.8rem;
}

.bell {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
}

.current-chat {
    background-color: white;
    height: 56px;
}

.messages {
    height: calc(100% - 112px);
    background-image: url(../img/mine.jpg)
}

ul {
    list-style: none;
}

.type-bar {
    background-color: white;
    height: 56px;
}

.text-bar {
    width: 80%;
    height: 2rem;
}

.received {
    background-color: grey;
    border-radius: 5px;
    display: block;
    padding: 0.3rem;
    margin: 0.5rem;
}

.sent {
    background-color: green;
    border-radius: 5px;
    display: block;
    padding: 0.3rem;
    margin: 0.5rem;
}